<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <h4>
    {{question.question}}
  </h4>
  <form #answer="ngForm" (ngSubmit)="onClickSubmit()">
    <div class="form-check">
      <input type="text" name="answer" ngModel>
    </div>
    <button class="button btn btn-info btn-md" type="button" (click)="onCheck(answer.value)">Check</button>
    <button class="button btn-next btn btn-info btn-md" [class.hidden]="!hasChecked" type="submit">Next</button>
    <p id="correct" *ngIf="hasChecked && isCorrect; else hasChecked && isWrong">Raspunsul este corect!</p>
    <ng-template #isWrong><p id="wrong">Raspuns gresit!</p></ng-template>
  </form>
</div>