<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="our-team-main" #question>
        <div [class.hidden]="questionMode !== 'Multiple'" *ngFor="let question of multiple_questions.questions; let index = index;">
          <app-multiple-choise-question [question]="question" (answered)="onAnswered()"
            [class.hidden]="index !== currentQuestionM"></app-multiple-choise-question>
        </div>
        <div [class.hidden]="questionMode !== 'Input'" *ngFor="let question of input.questions; let index = index;"
          [class.hidden]="index !== currentQuestionI && questionMode !== 'Input'">
          <app-input-questions [question]='question' (answered)="onAnswered()"
            [class.hidden]="index !== currentQuestionI"></app-input-questions>
        </div>
      </div>
    </div>
  </div>
</div>