<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h1 class="text-center">Choose a category...</h1>
<div class="container">
  <div class="row">

    <!--team-1-->
    <div class="col-lg-4">
      <div class="our-team-main">
        <div class="team-front">
          <img src="assets/animals.jpg" class="img-fluid" />
          <h3>Animals</h3>
          <p>0/11</p>
        </div>

        <div class="team-back">

          <span>
            Cu ajutorul jocurilor din categoria Animals, poti sa-ti insutesti cunostintele de baza prin joaca,
            descoperind combinatiile corecte printre intrebari.
          </span>

          <div class="text-center">
            <a class="btn btn-primary generate btn btn-info btn-md" href="/generate" role="button">START</a>
          </div>
        </div>

      </div>
    </div>
    <!--team-1-->

    <!--team-2-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="assets/sports.jpg" class="img-fluid" />
          <h3>Sports</h3>
          <p>1/12</p>
        </div>

        <div class="team-back">
          <span>
            Cu ajutorul jocurilor din categoria Sports, poti sa-ti insutesti cunostintele de baza prin joaca,
            descoperind combinatiile corecte printre intrebari.
          </span>

          <div class="text-center">
            <a class="btn btn-primary generate btn btn-info btn-md" href="/generate" role="button">START</a>
          </div>
        </div>

      </div>
    </div>
    <!--team-2-->

    <!--team-3-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="assets/colors.jpg" class="img-fluid" />
          <h3>Colors</h3>
          <p>5/6</p>
        </div>

        <div class="team-back">
          <span>
            Cu ajutorul jocurilor din categoria Colors, poti sa-ti insutesti cunostintele de baza prin joaca,
            descoperind combinatiile corecte printre intrebari.
          </span>

          <div class="text-center">
            <a class="btn btn-primary generate btn btn-info btn-md" href="/generate" role="button">START</a>
          </div>
        </div>

      </div>
    </div>
    <!--team-3-->
  </div>
</div>